$content-fontColor:#333;
$content-backgroundColor:#f1f1f1;
$input-backgroundColor:#f5f5f5;
$input-fontColor:#b7b7b7;
$content-notice-fontColor:#777;
$bgColor:#fff;
$border-color:#0091ff;
$font-color:#e93b3b;